<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración</title>
    <link rel="stylesheet" href="/static/css/ajustes.css">
    
<body>

    <canvas id="myCanvas" width="600" height="400"></canvas>
        <div class="header-container">
            <div class="logo">
                <img src="logaso-fotor-bg-remover-2024090415423.png" alt="Logo">
                <p class="logo-text">S O F B I R T</p>
            </div>
        </div>
    </header>

    <main>
        <div class="settings-container">
            <h1>Settings</h1>
            <div class="action-buttons">
                <button class="blue-btn">Save Changes</button>
                <button class="gray-btn">Import proxys</button>
                <button class="red-btn">Import Endpoint</button>
            </div>
            <h3>Global Settings</h3>
            <table>
                <thead>
                    <tr>
                        <th>Option</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                     
                        <tr>
                            <td>Puerto</td>
                            <td>
                                <input type="text" class="input-text">
                                <button class="update-btn">Actualizar</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Ruta de descarga</td>
                            <td>
                                <input type="text" class="input-text">
                                <button class="update-btn">Actualizar</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Sistema Operativo</td>
                            <td>
                                <input type="text" class="input-text">
                                <button class="update-btn">Actualizar</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Rute imagen</td>
                            <td>
                                <input type="text" class="input-text">
                                <button class="update-btn">Actualizar</button>
                            </td>
                        </tr>
                    <tr>
                        <td>Versión Apis</td>
                        <td>
                            <select> <option value="false">False</option> <option value="true">True</option> </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Proxy</td>
                        <td>
                            <select> <option value="false">False</option> <option value="true">True</option> </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <script src="/static/js/setting.js"></script>
    
</body>
</html>
